@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.noto-serif-font {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}


.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* Shared Styles */
.text-primary {
    color: #E95A08;
}

.text-black {
    color: #252432;
}

.text-gray {
    color: rgba(0, 0, 0, 0.5);
}

.text-light-gray {
    color: #8987A1;
}

.display-flex {
    display: flex;
}

main {
    max-width: 1440px;
    margin: 0 auto;
}

.btn-primary {
    background-color: #E95A08;
    color: white;
    padding: 10px 15px;
    font-weight: 600;
    font-size: 1.25rem;
    border: none;
    width: 100%;
}

/* Navbar styles */
.navbar {
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    list-style: none;
    gap: 50px;
    align-items: center;
}

.nav-text {
    gap: 50px;
}

.nav-link {
    text-decoration: none;
}

.cart {
    align-items: center;
    gap: 10px;
}

.navbar,
.banner {
    max-width: 1440px;
    margin: 0 auto;
}

/* Banner Styles */
.banner {
    justify-content: space-between;
    margin-top: 130px;
}

.banner-content {
    max-width: 570px;
}

.banner-title {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 0;
}

.banner-description {
    font-size: 1.3rem;
}

/* Our plants styles */

.our-plants-content {
    text-align: center;
    margin-top: 120px;
    margin-bottom: 50px;
}

.our-plants-title {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 0;
}

.our-plants-description {
    font-size: 1.3rem;
}

.plants-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;

}

.plant-card {
    /* width: 270px;
    height: 480px; */
    text-align: center;
    align-items: center;
    justify-content: center;
}

.plant-card img {
    width: 100%;
}

.card-title {
    font-size: 1.3rem;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 0;
}

.card-price {
    font-size: 1.3rem;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 20px;
}


/* Flower and Plants lover style */

.lover {
    margin-top: 130px;
    /* gap: 100px; */
}

/* .seller-img {
    width: 100%;
} */

.badge {
    width: 280px;
    height: 280px;
    margin-left: -190px;
    margin-top: -125px;
}

.lover-title {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 30px;
}

.lover-content {
    margin: 40px 0 40px 60px;
}

.lover-description li {
    margin-bottom: 30px;
}




/* Responsive for mobile device */
@media screen and (max-width: 576px) {

    .nav-text,
    .badge {
        display: none;
    }

    .banner {
        flex-direction: column-reverse;
        justify-items: left;
    }

    .banner img {
        width: 100%;
    }

    .plants-cards {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }

    .lover {
        flex-direction: column;
    }

    .seller-img {
        width: 100%;
    }

    .lover-content {
        margin: 0;
    }
}